/* Variables */

$orangepink: #ff6666;
$green: #003333;
$green-bl: #1a292b;
$blue: #62c9c3;
$gold: #ccac00;

$black: black;
$white: white;

$gradient: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
