/* HOME ----------------------------------------------------*/

/* Section 1 BANNER */

.carousel-inner {
  img {
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .carousel-item {
    min-height: 90vh;
    background-position: center;
    background-size: cover;

    .container {
      position: absolute;
      padding: 0 20%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center;

      h1{
        color: $white;
        font-size: 4rem;
        margin-top: 8.5rem;
        

        @media only screen and (max-width: 1024px) {
          font-size: 3rem;
          margin-top: 7.5rem;
        }

      }
      h2 {
        color: #ff6666;
        font-size: 45px;
        margin: 0;
      }

      p {
        color: white;
        font-size: 20px;
        text-align: center;
        padding: 1.5rem;
      }
    }
  }
}

/* Section 2 CARACTERISTICAS FLEXBOX */

.sectionDos {
  @extend %flexbox_cuadro;
  background-color: $green-bl;
  color: $white;

  span {
    width: 15%;
    margin: 0 3rem;
    padding: 4rem 0;
  }
}

/* Section 3 TABLA LINEAS */

.sectionTres {
  text-align: center;

  h2 {
    padding: 4rem;
    text-align: center;
  }
}

/* Lineas */

#lineas {
  h2 {
    padding: 2rem;
    text-align: center;
    color: $green-bl;

    @media only screen and (max-width: 768px) {
      color: $white;
    }
  }

  div {
    display: flex;
    justify-content: center;
    flex-flow: wrap row;

    .parent {
      width: 50%;
      overflow: hidden;

      @media only screen and (max-width: 1024px) {
        width: 100%;
      }

      .child {
        padding: 8rem 0;
        width: 100%;
        background-size: cover;
        transition: 1.1s;
      }
      &:hover .child {
        transform: scale(1.2);
      }
    }
  }
}

/* Section FAVORITOS*/
#fav {
  min-height: 80vh;
  h2{
    color: $white;
    text-align: center;
    padding: 2rem;
    background-color: $orangepink;
  }
  .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    width: 85%;
    margin: 0 auto;
    .box {
      flex: 1 1 20rem;
      /*border: 0.1rem solid rgba(0, 0, 0, 0.3);*/
      overflow: hidden;
      position: relative;
      margin: 1rem 2rem;
      .info {
        h3 {
          padding: .5rem;
          font-size: 1rem;
          font-weight: 600;
          color: $orangepink;
        }
        .subInfo {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 1rem;
          border-top: 0.1rem solid rgba(0, 0, 0, 0.3);
          .price {
            color: #ff3300;
            font-size: 1rem;
            span {
              color: #666;
              font-size: .8rem;
              text-decoration: line-through;
            }
          }
          .stars i {
            color: orange;
            font-size: 1rem;
          }
        }
      }
      .image {
        height: 20rem;
        padding: 0;
        text-align: center;
        background: #f0f0f0;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 20rem;
        width: 100%;
        background: rgba(0, 0, 0, 0.3);
        display: flex;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        a {
          font-size: 1.5rem;
          padding: 1rem 1.5rem;
          background: #fff;
          color: #666;
          margin: 1rem;
          transform: translateY(-15rem);
          transition-delay: calc(0.1s);
        }
      }
      &:hover .overlay {
        transform: scale(1);
        a{
          transform: translateY(0rem);
          &:hover{
            color:$orangepink;
          }
        }
      }
    }
  }
}

/* Section 4 NOSOTROS */
#nosotros {
  background-color: $black;
  padding: 5% 0;
  div {
    background-image: url(../img/g.jpg);
    background-size: cover;
    div {
      background-image: none;
      background-color: $black;
      text-align: center;
      margin: 0 25%;
      padding: 4rem 0;
      h2 {
        color: $orangepink;
        span{
          display: block;
        }
      }
      p {
        color: $white;
        text-align: center;
        margin: 1rem;
        span{
          display: block;
          color: $white;
          font-weight: 700;
          font-size: 30px;
        }
      }
      @media only screen and (max-width: 768px) {
        margin: 0 10%;
      }
    }
  }
}

/* Section 5 CONTACTO MAPA */

#contacto {
  h2{
    color: $white;
  }
  h3 {
    color: $green-bl;
  }
  background-color: $orangepink;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media only screen and (max-width: 1200px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  iframe {
    @media only screen and (max-width: 1200px) {
      width: 100%;
      order: 2;
    }
  }

  div {
    margin: 2rem;
    text-align: left;

    form {
      textarea {
        width: 100%;
      }
    }
  }
}
